
.aside-article {
    background-color: #beafdd;
    height: 100%;
    padding-top: 2rem;
}

.my-intro {
    margin-bottom: 2rem;
}

.my-self {
            
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

.my-img {
   order: 1;
   padding-bottom: 0.5rem; 
}
.my-img img {
    
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #f0edf7;
        
}

.name-job {
    order: 2;
}
    
.name-job h1 {
        padding-bottom: 1rem;
        text-align: center;
        color: #7E4BBC;
        font-family: "Pacifico', cursive;";
}

.name-job h2 {
        text-align: center;
    }

.profile p {
    padding: 1rem 3rem 1rem 3rem;
    margin: 0 1rem 0 1rem;
    
}
